.site-header {
  background-color: lightyellow;
}

.site-header:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: gray;
}
  
.nav-ul {
  display: none;
  list-style-type: none;
  padding-left: 1%;
  margin-top: 0%;
}
  
.nav-ul:after {
  content: "";
  display: table;
  clear: both;
}
