  .site-header {
    background-color: lightyellow;
  }

  .site-header:after {
    content: "";
    display: table;
    clear: both;
  }
  
.nav-ul {
    display: none;
    list-style-type: none;
    padding-left: 1%;
    margin-top: 0%;
  }
  
.nav-ul:after {
  content: "";
  display: table;
  clear: both;
}

.nav-ul li {
  float: left;
  clear: both;
  text-align: left;
  width: 100%;
  font-size: 200%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom: 1px solid gray;
}
  .hamburger {
    display: flex;
    align-items: flex-start;
    float: right;
    font-size: 300%;
  }

  .main-nav:hover ul {
    display: block;
  }

  .heading-group-h1 {
    float: left;
    margin: 0;
    padding: 2% 2% 0% 2%;
  }

  .heading-group-h1 h1 {
    font-size: 250%;
    font-weight: bold;
  }

  @media only screen and (min-width: 640px) {

    .heading-group-h1 {
      float: none;
    }
    .nav-ul {
      display: block;
    }

    .nav-ul {
      overflow: hidden;
    }

    .nav-ul {
      display: block;
    }
    .nav-ul li {
      width: 15%;
      display: inline-block;
      clear: none;
      border: none;
      margin-left: 4%;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .hamburger {
      display: none;
    }
  }